.idea
playground/AdoNetExploration/AdoNetExploration/bin/*
playground/DataSetViewer/DataSetViewer/bin/*
_ReSharper.*
_UpgradeReport_*
*.resharper.user
*.suo
UpgradeLog.*
log
logs
tmp
temp
output
TestResults
*.bak
*.cache
obj/*